@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

body {
  font-family: 'Heebo', sans-serif;
}

*::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #AB2680;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}